body {
}
.platform, ul > li.platform {
    display: none;
}
a {
    cursor: pointer;
}
.navbar {
    border-radius: 0;
}
.navbar-brand {
    line-height: 24px;
}
.navbar-brand  img {
    float: left;
}