@inherits ViewPage
@{
    ViewBag.Title = "Hello World Service";
}
<div>
    <div>
        <input class="form-control input-lg" ng-model="name" id="Name" type="text" placeholder="Type your name">
        <p id="helloResult" style="margin-top: 15px;font-size: large"></p>
    </div>
</div>
<script>
    $('#Name').keyup(function () {
        var name = $('#Name').val();
        if (name) {
            $.getJSON('/hello/' + name)
                .success(function (response) {
                    $('#helloResult').html(response.Result);
                });
        } else {
            $('#helloResult').html('');
        }
    });
</script>

