<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1, minimum-scale=1">
    <title>$safeprojectname$</title>
</head>
<body>
    <link rel="stylesheet" href="/platform.css" />

    <div id="body"></div>

    <script src="/platform.js"></script>
</body>
</html>
