@{
    ViewBag.Title = "ServiceStack Self Host with Razor";
}

<h2>Hello World Service</h2>

<form action="@(new Hello().ToPostUrl())">
    <div>
        <input class="form-control input-lg" name="Name" type="text" placeholder="Type your name">
        <button>Submit</button>
    </div>
</form>

<h4 style="position: absolute; bottom: 20px; width: 100%; text-align: center">
    <a href="https://servicestack.net/vs-templates/RazorSelfHost">Learn about Razor SelfHost VS.NET templates</a>
</h4>
