<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%- htmlWebpackPlugin.options.metadata.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>">
    <!-- imported CSS are concatenated and added automatically -->
  </head>
  <body>
    <i hidden>{{ '/js/hot-fileloader.js' | ifDebugIncludeScript }}</i>

    <div aurelia-app="main">
      <% if (htmlWebpackPlugin.options.metadata.server) { %>
      <!-- Webpack Dev Server reload -->
      <script src="/webpack-dev-server.js"></script>
      <% } %>
    </div>

    <div id="footer" style="text-align:center; position:absolute; bottom:50px; width:100%;">
        <h4>
            <img src="<%=require('./src/assets/img/logo.png')%>" />
            <a href="https://servicestack.net/vs-templates/AureliaApp">Learn about this Aurelia VS.NET template</a>
        </h4>
        <div>Copyright &copy; {{ now | dateFormat('yyyy') }}</div>
    </div>

  </body>
</html>
