/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";

/* You can add global styles to this file, and also import other style files */

$navbar-background: darken(#e2373d, 5%);
$emphasis-text-color: lighten($navbar-background, 5%);

body {
}
.form-check.form-control {
    padding-left: 1.75rem;
    height: auto;
}
.navbar {
    border-radius: 0;
    background: $navbar-background !important;
}
a:not(.btn) {
    color: $emphasis-text-color;
}
a.nav-link:hover {
    cursor: pointer;
}
*:focus {
    outline: none !important;
}
.form-check.form-control {
    padding-left: 1.75rem;
}
