body {
}
.navbar {
    border-radius: 0;
    background-color: #2f495e !important;
}
a {
    color: #333;
}
.form-check.form-control {
    padding-left: 1.75rem;
    height: auto;
}
.result {
    margin: 10px;
    color: #333;
}