<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.4.0" targetFramework="net45" />
  <package id="Microsoft.Web.Xdt" version="3.0.0" targetFramework="net45" />
  <package id="Moq" version="4.10.1" targetFramework="net45" />
  <package id="NuGet.Core" version="2.14.0" targetFramework="net45" />
  <package id="NuGet.VisualStudio" version="5.0.0" targetFramework="net45" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net45" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net45" />
</packages>