<div class="row justify-content-between">
    <div class="col col-1">
        <i class="svg-home svg-9x"></i>
    </div>
    <div class="col col-4 mt-4">
        <hello-api [name]="name"></hello-api>
    </div>
    <div class="col-md-auto"></div>
    <div class="col col-4">
        <div *ngIf="userSession" class="text-right">
            <p class="pt-3">Hi {{userSession.displayName}}!</p>
            <link-button (click)="onSignOut()" sm primary>Sign Out</link-button>
        </div>
        <div *ngIf="!userSession" class="text-right">
            <p class="pt-3">You are not authenticated.</p>
            <link-button href="/signin" sm primary>Sign In</link-button>
            <link-button href="/signup" sm outline-secondary class="ml-2">Register New User</link-button>
        </div>
    </div>
</div>
