<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <appSettings>
        <add key="webPages:Enabled" value="false" />
        <add key="DebugMode" value="true"/>
    </appSettings>

    <system.web>
        <compilation debug="true" targetFramework="4.5">
            <buildProviders>
                <add extension=".cshtml" type="ServiceStack.Razor.CSharpRazorBuildProvider, ServiceStack.Razor" />
            </buildProviders>
        </compilation>
        <httpRuntime targetFramework="4.5" />
        <httpHandlers>
            <add path="*" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" />
        </httpHandlers>
    </system.web>

    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
        <urlCompression doStaticCompression="true" doDynamicCompression="false" />
        <handlers>
            <add path="*" name="ServiceStack.Factory" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*"
                 preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
        </handlers>
        <defaultDocument>
            <files>
                <clear />
                <add value="default.html" />
            </files>
        </defaultDocument>
        <staticContent>
            <remove fileExtension=".ts"/>
            <mimeMap fileExtension=".ts" mimeType="application/x-typescript" />
            <mimeMap fileExtension=".tsx" mimeType="application/x-typescript" />
        </staticContent>
    </system.webServer>

</configuration>