<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MSBuild.Bower" version="0.2.0" targetFramework="net45" />
  <package id="MSBuild.Grunt" version="0.2.0" targetFramework="net45" />
  <package id="MSBuild.Gulp" version="0.1.0" targetFramework="net45" />
  <package id="MSBuild.Node" version="0.2.0" targetFramework="net45" />
  <package id="MSBuild.NodeTools" version="0.2.0" targetFramework="net45" />
  <package id="MSBuild.Npm" version="0.2.0" targetFramework="net45" />
  <package id="ServiceStack" version="4.0.30" targetFramework="net45" />
  <package id="ServiceStack.Client" version="4.0.30" targetFramework="net45" />
  <package id="ServiceStack.Common" version="4.0.30" targetFramework="net45" />
  <package id="ServiceStack.Interfaces" version="4.0.30" targetFramework="net45" />
  <package id="ServiceStack.OrmLite" version="4.0.30" targetFramework="net45" />
  <package id="ServiceStack.Razor" version="4.0.30" targetFramework="net45" />
  <package id="ServiceStack.Redis" version="4.0.30" targetFramework="net45" />
  <package id="ServiceStack.Server" version="4.0.30" targetFramework="net45" />
  <package id="ServiceStack.Text" version="4.0.30" targetFramework="net45" />
</packages>