@inherits ViewPage
@{
    ViewBag.Title = "Hello World Service";
}
<script>
    var app = angular.module('helloApp', []);

    app.controller('helloCtrl', ['$scope', '$http',
        function ($scope, $http) {
            $scope.$watch('name', function () {
                if ($scope.name) {
                    $http.get('/hello/' + $scope.name)
                        .success(function (response) {
                            $scope.helloResult = response.Result;
                        });
                }
            });
        }
    ]);
</script>
<div ng-app="helloApp">
    <div ng-controller="helloCtrl">
        <div>
            <input class="form-control input-lg" ng-model="name" id="Name" type="text" placeholder="Type your name">
            <p ng-bind="helloResult" style="margin-top: 15px;font-size: large" ng-show="name"></p>
        </div>
    </div>
</div>

<h4 style="position: absolute; bottom: 20px; width: 100%; text-align: center">
    <a href="https://servicestack.net/vs-templates/AngularJSWebApp">Learn about this ASP.NET AngularJS VS.NET template</a>
</h4>
