<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ServiceStack" version="$currentServiceStackVersion$" targetFramework="net45" />
  <package id="ServiceStack.Client" version="$currentServiceStackVersion$" targetFramework="net45" />
  <package id="ServiceStack.Common" version="$currentServiceStackVersion$" targetFramework="net45" />
  <package id="ServiceStack.Interfaces" version="$currentServiceStackVersion$" targetFramework="net45" />
  <package id="ServiceStack.OrmLite" version="$currentServiceStackVersion$" targetFramework="net45" />
  <package id="ServiceStack.Redis" version="$currentServiceStackVersion$" targetFramework="net45" />
  <package id="ServiceStack.Server" version="$currentServiceStackVersion$" targetFramework="net45" />
  <package id="ServiceStack.Text" version="$currentServiceStackVersion$" targetFramework="net45" />
</packages>